:root{
    --orange: rgb(255, 98, 43);
}

@font-face{
    font-display: block;
    font-family: 'Neuzeit LT Book';
    font-weight: 300;
    font-style: normal;
    src: url('fonts/Neuzeit_S_LT_Book.ttf');
}

@font-face{
    font-display: block;
    font-family: 'Neuzeit LT Book Heavy';
    font-weight: 800;
    font-style: normal;
    src: url('fonts/Neuzeit_S_LT_BookHeavy.ttf');
}

*{
    font-family: 'Helvetica', sans-serif;
    box-sizing: border-box;
    font-family: '', sans-serif;
    letter-spacing: .08rem;
    margin: 0;
    padding: 0;
    font-weight: 400;
    /* border: 1px solid red; */
}

html{
    background-color: rgb(0, 0, 0, .225);
}

body{
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat(2, 1fr);
    align-items: start;
    margin: 2vw 2.5vw 1.5vw;
    height: calc(100vh - 3.5vw);
}

hr{
    height: .5px;
    border: none;
    background-color: #000;
}

button{
    border: none;
    background: none;
}

button:hover,
#form-submit{
    cursor: pointer;
}

img{
    width: 100%;
}

li{
    list-style: none;
}

.show{
    display: block;
}

.hide{
    display: none;
}

.lang-bold{
    font-weight: bold;
}

/* nav bar */

h1 button, h2{
    font-size: 9rem;
}

.stroke{
    -webkit-text-stroke: 1.5px black;
    color: transparent;
}

.orange{
    color: var(--orange);
}

/* grid */

header, h1, #nav-bar, .list-wrapper, .nav-names, .nav-symbols, .nav-symbols li{
    display: contents;
}

.nav-names li{
    grid-column: 1;
    grid-row: 1;
    margin-right: 3rem;
}

.first-column{
    grid-column: 1;
    grid-row: 1;
}

.second-column{
    grid-column: 2;
    grid-row: 1;
}

.name-him{
    grid-row: 3;
    grid-column: 3;
    justify-self: end;
    align-self: end;
}

.nav-symbols button{
    grid-row: 1;
    grid-column: 3;
    justify-self: end;
    width: 7.25rem;
}

.about-text{
    grid-row: 1;
    grid-column: 3;
    justify-self: end;
    width: 25rem;
}

.about-text p{
    margin-bottom: 1rem;
}

#second-plus-btn{
    grid-column: 1;
    grid-row: 3;
    align-self: end;
    justify-self: start;
    margin-bottom: 1.75rem;
}

/* form */

#form-wrapper{
    display: contents;
}

.form-container{
    grid-column: 1;
    grid-row: 2;
    width: 30rem;
}

input, textarea{
    border: none;
    background-color: transparent;
    font-size: .85rem;
    color: #000a;
}

.form-objects{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

label{
    font-size: .75rem;
    text-transform: uppercase;
    margin-bottom: .35rem;
}

input:focus,
textarea:focus,
button:focus {
    outline: none;
}

textarea{
    resize: none;
}

input[type="submit"]{
    /* background: #fff url("../images/icons-arrow.png") no-repeat right top; */
    background-color: transparent;
    background-image: url("../images/icons-arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 8rem;
    height: 8rem;
    align-self: end;
    grid-column: 1;
    grid-row: 3;
    margin-bottom: 1.75rem;
}

hr{
    position: relative;
}

/* hr::after{
    content: "test";
    position: absolute;
    background-color: red;
    width: 100%;
    display: block;
    height: 20px;
    margin-top: 4.5px;
    border: 1px solid red;
    text-align: center;
    top: 20px;

} */





