* {
  box-sizing: border-box;
}

body {
  font-family: 'Avenir';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  text-align: center;
  margin: 0;
}

h1,
h2,
.about-text,
.about-section img {
  margin: 2rem 0;
}

ul {
  margin: 0;
  padding: 0;
}

.about-section > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-section img {
  width: 90%;
}

.about-section .quote {
  font-style: italic;
  font-size: 20px;
  max-width: 80%;
  position: relative;
}

.about-section .quote .quote-mark {
  font-size: 50px;
  font-family: 'Arial';
  margin-right: 1rem;
}

.about-section .curriculum {
  text-align: start;
}

.about-section .curriculum li {
  margin: 2rem;
  text-align: start;
  font-size: 20px;
}

.projecto-clara-section > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projecto-clara-section ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projecto-clara-section ul li {
  list-style: none;
  margin: 1rem;
}

.projecto-clara-section .clara-intro-images img {
  width: 80px;
}

.projecto-clara-section .clara-story-image img {
  width: 50%;
}


@media (min-width: 1200px) {
  /* body {
    padding: 5rem;
  }  */

  .about-section img {
    width: 50%;
  }
  
  .about-section .quote {
    font-size: 30px;
  }

  .about-section .curriculum {
    max-width: 70%;
  }

  .projecto-clara-section ul li {
    margin: 2rem;
  }

  .projecto-clara-section .clara-intro-images img {
    width: 200px;
  }
  
}


#form-wrapper {
  text-align: start;
  width: 50%;
}