* {
  box-sizing: border-box;
}

body {
  font-family: 'Avenir';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 0;
  background-color: #0001;
}

h1,
h2,
.about-text {
  margin: 1rem 0;
}

ul,
img {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}

header {
  width: 100%;
  background-color: #c9c040;
  color: #000;
  padding: 2rem;
}

.nav-wrapper {
  margin-top: 3rem;
}

.nav-wrapper a {
  font-size: 1.2rem;
  color: #000;
  text-decoration: none;
  margin-right: 1rem;
  background-color: #fff;
  padding: .5rem .75rem;
  border-radius: 20px;
}

.nav-wrapper a:hover {
  text-decoration: underline;
}

.hero-wrapper img {
  height: 650px;
  width: 100vw;
}

.quote-section .quote-container {
  padding: 4rem 0;
}

.quote-section .quote-container,
.about-nutricao-section .quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about-nutricao-section {
  margin-top: 4rem;
}

.about-nutricao-section .quote-container {
  padding: 1.5rem;
}

.quote-section .quote-container p {
  max-width: 85%;
  text-align: center;
}

.quote-section .quote,
.about-nutricao-section .quote {
  font-style: italic;
  font-size: 20px;
  position: relative;
}

.quote-section .quote .quote-mark {
  font-size: 50px;
  font-family: 'Arial';
  margin-right: 1rem;
}

.curriculum-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.curriculum-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.curriculum-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}

.curriculum-section .curriculum-image {
  max-width: 60%;
}

.curriculum li {
  margin: 1rem 0;
  font-size: 19px;
}

.areas-accao {
  display: flex;
  flex-direction: column;
}

.areas-image {
  height: 400px;
  width: 100%;
}

.areas-image img {
  height: 400px;
  width: 100%;
}

.nutricao-clinica-section,
.projecto-clara-section,
.areas-intervencao-section {
  padding: 2rem;
  height: 500px;
}

.nutricao-clinica-section {
  background-color: #1e9d64;
}

.about-nutricao-section {
  background-color: #0000001a;
  width: 100%;
}

.areas-intervencao-section {
  background-color: #574;
}

.projecto-clara-section {
  background-color: #3a7cb8;
}

.projecto-clara-section > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projecto-clara-section ul {
  display: flex;
  align-items: center;
}

.projecto-clara-section ul li {
  list-style: none;
}

.projecto-clara-section .clara-intro-images img {
  width: 80px;
}

.projecto-clara-section .clara-story-image img {
  width: 50%;
}

.contact-button button {
  padding: 1rem 2.5rem;
  font-size: 1rem;
  color: #000;
  font-weight: bold;
  letter-spacing: 0.05rem;
  border: none;
  border-radius: 30px;
  text-transform: uppercase;
}

.contact-button button:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

@media (min-width: 750px) {
  .quote-section .quote-container p {
    max-width: 65%;
  }

  .curriculum-section .curriculum-image {
    min-width: 40%;
  }

  .curriculum-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3rem;
  }
}

@media (min-width: 1200px) {
  .nav-wrapper {
    margin-top: 0;
  }

  .nav-wrapper a {
    font-size: 1.2rem;
    color: #000;
    text-decoration: none;
    margin-right: 1rem;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
  }
  
  header {
    padding: 3rem 5rem;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .quote-section .quote {
    font-size: 30px;
  }

  .quote-section .quote-container {
    padding: 6rem 0;
  }

  .about-section .curriculum {
    max-width: 70%;
  }

  .about-nutricao-section {
    margin-top: 8rem;
  }

  .projecto-clara-section ul li {
    margin-right: 2rem;
  }

  .projecto-clara-section .clara-intro-images img {
    width: 100px;
  }

  .curriculum-wrapper {
    padding: 4rem 8rem;
  }

  .areas-accao {
    display: flex;
    flex-direction: row;
  }

  .nutricao-clinica-section,
  .projecto-clara-section,
  .areas-intervencao-section {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .curriculum-wrapper {
    padding: 4rem 18rem;
  }
}

#form-wrapper {
  text-align: start;
  width: 50%;
  padding: 8rem 0;
}