:root{
    --orange: rgb(255, 98, 43);
    --grey: rgb(0, 0, 0, .225);
}

@font-face{
    font-display: block;
    font-family: 'Neuzeit LT Book';
    font-weight: 300;
    font-style: normal;
    src: url('fonts/Neuzeit_S_LT_Book.ttf');
}

@font-face{
    font-display: block;
    font-family: 'Neuzeit LT Book Heavy';
    font-weight: 800;
    font-style: normal;
    src: url('fonts/Neuzeit_S_LT_BookHeavy.t tf');
}

*{
    font-family: 'Helvetica', sans-serif;
    box-sizing: border-box;
    font-family: '', sans-serif;
    letter-spacing: .08rem;
    margin: 0;
    padding: 0;
    font-weight: 400;
    /* border: 1px solid red; */
}

html{
    background-color: var(--grey);
}

body{
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 40% 0 repeat(2, auto);
    align-items: start;
    margin: 2vw 2.5vw 1.5vw;
    height: calc(100vh - 3.5vw);
}

hr{
    height: .5px;
    border: none;
    background-color: #000;
}

button{
    border: none;
    background: none;
}

button:hover,
#form-submit{
    cursor: pointer;
}

img{
    width: 100%;
}

li{
    list-style: none;
}

.show{
    display: block;
}

.hide{
    display: none;
}

.lang-bold{
    font-weight: bold;
}

/* nav bar */
h1 button, h2{
    font-size: 8.5rem;
}

.stroke{
    -webkit-text-stroke: 1.5px black;
    color: transparent;
}

.orange{
    color: var(--orange);
}

/* grid */
header, h1, #nav-bar, .list-wrapper, .nav-names, .nav-symbols, .nav-symbols li{
    display: contents;
}

.nav-names li{
    grid-column: 1;
    grid-row: 1;
    margin-right: 3rem;
}

.first-column{
    grid-column: 1;
    grid-row: 1;
}

.second-column{
    grid-column: 2;
    grid-row: 1;
}

.name-her-below{
    grid-column: 1; 
    grid-row: 1;
    margin-top: 7rem;
}

.name-him{
    grid-row: 4;
    grid-column: 1 / -1;
    justify-self: end;
    align-self: end;
}

.nav-symbols button{
    grid-row: 1;
    grid-column: 3;
    justify-self: end;
    width: 7.25rem;
}

.about-text{
    grid-row: 1;
    grid-column: 3;
    justify-self: end;
    max-width: 25rem;
}

.about-text p{
    margin-bottom: 1rem;
}

#second-plus-btn{
    grid-column: 1;
    grid-row: 4;
    align-self: end;
    justify-self: start;
    margin-bottom: 1rem;
}

#error-message{
    grid-column: 1;
    grid-row: 2;
    align-self: end;
    font-size: 0.75rem;
    max-width: 30rem;
    padding: 10px;
    /* margin-bottom: 2rem; */
    /* margin-left: 10px; */
    /* background-color: var(--orange); */
}
    


/* form */
#form-wrapper{
    display: contents;
}

.form-container{
    grid-column: 1;
    grid-row: 3;
    width: 30rem;
}

input, textarea{
    border: none;
    background-color: transparent;
    font-size: .85rem;
    color: #000a;
}

.form-objects{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

label{
    font-size: .75rem;
    text-transform: uppercase;
    margin-bottom: .35rem;
}

input:focus,
textarea:focus,
button:focus {
    outline: none;
}

textarea{
    resize: none;
}

input[type="submit"]{
    /* background: #fff url("../images/icons-arrow.png") no-repeat right top; */
    background-color: transparent;
    background-image: url("../images/icons-arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 8rem;
    height: 8rem;
    align-self: end;
    grid-column: 1;
    grid-row: 4;
    margin-bottom: 1rem;
}

hr{
    position: relative;
}

.error-message-color{
    /* border: 2px solid var(--grey); */
    background-color: var(--orange);
}


/* media queries */

@media screen and (max-width: 1550px){

    h1 button,
    h2{
        font-size: 7.85rem;
    }
}

@media screen and (max-width: 1330px){

    h1 button,
    h2{
        font-size: 7rem;
    }

    .form-container{
        width: 25rem;
    }

    #error-message{
        max-width: 25rem;
    }

    .about-text p{
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 1120px){

    .nav-names li{
        margin-right: 0;
    }
}


@media screen and (max-width: 900px){

    .about-text{
        padding-left: 2rem;
    }

    .about-text p{
        font-size: 0.85rem;
    }

    h1 button,
    h2{
        font-size: 6.5rem;
    }
}




/* @media screen and (max-width: 480px){

} */



@media screen and (max-width: 480px){

    body{
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto;
        /* align-items: start; */
        margin: 5vw 5.5vw 4.5vw;
        height: calc(100vh - 9.5vw);
    }

    h1 button,
    h2{
        font-size: 3.85rem;
    }

    /* .name-her{
        grid-column: 1;
        grid-row: 1;
        margin-top: 4rem;
    }

    .name-him{
        grid-column: 1 / -1;
    }

    .nav-names li{
        grid-row: 1;
    } */

    .nav-symbols button,
    input[type="submit"]{
        width: 3.15rem;
    }

    /* .about-text{
        grid-row: 2;
        grid-column: 1;
        width: auto;
    } */

    #second-plus-btn {
        margin-bottom: .55rem;
    }

}


