* {
  box-sizing: border-box;
}

body {
  font-family: 'Avenir';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 0;
  background-color: #0001;
}

h1,
h2,
.about-text {
  margin: 1rem 0;
}

ul,
img {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}

header {
  width: 100%;
  background-color: red;
  color: #000;
  padding: 2rem;
}

header.form-sent {
  height: 100vh;
}

.nav-wrapper {
  margin-top: 3rem;
}

.nav-wrapper a {
  font-size: 1.2rem;
  color: #000;
  text-decoration: none;
  margin-right: 1rem;
  background-color: #fff;
  padding: .5rem .75rem;
  border-radius: 20px;
}

.nav-wrapper a:hover {
  text-decoration: underline;
}

.hero-wrapper img {
  height: 650px;
  width: 100vw;
}

.quote-section .quote-container {
  padding: 4rem 0;
}

.quote-section .quote-container,
.about-nutricao-section .quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about-nutricao-section {
  margin-top: 4rem;
}

.quote-section .quote-container p {
  max-width: 85%;
  text-align: center;
}

.quote-section .quote,
.about-nutricao-section .quote {
  font-style: italic;
  font-size: 20px;
  position: relative;
}

.quote-section .quote .quote-mark {
  font-size: 50px;
  font-family: 'Arial';
  margin-right: 1rem;
}

.curriculum-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.curriculum-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.curriculum-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}

.curriculum-section .curriculum-image {
  max-width: 70%;
}

.curriculum,
.curriculum li {
  margin: 1rem 0;
  font-size: 19px;
}

.curriculum li {
  list-style: none;
}

.areas-accao {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

.areas-image {
  height: 400px;
  width: 100%;
}

.areas-image img {
  height: 400px;
  width: 100%;
}

.nutricao-clinica-section,
.projecto-clara-section,
.areas-intervencao-section {
  padding: 2rem;
}

.areas-intervencao-images {
  max-width: 80%;
}

.nutricao-clinica-section {
  background-color: #ffe89c;
}

.about-nutricao-section {
  background-color: #0000001a;
  width: 100%;
}

.areas-intervencao-section {
  background-color: #b08df3;
}

.projecto-clara-section {
  background-color: #fff9e6;
}

.projecto-clara-section > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projecto-clara-section .clara-intro-images {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.projecto-clara-section ul li {
  list-style: none;
}

.projecto-clara-section .clara-story-image img {
  width: 50%;
}

.contact-button button {
  padding: 1rem 2.5rem;
  font-size: 1rem;
  color: #000;
  font-weight: bold;
  letter-spacing: 0.05rem;
  border: none;
  border-radius: 30px;
  text-transform: uppercase;
}

.contact-button button:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

@media (min-width: 750px) {
  .quote-section .quote-container p {
    max-width: 65%;
  }

  .curriculum-section .curriculum-image {
    max-width: 40%;
  }

  .curriculum-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3rem;
  }
}

.areas-accao h2 {
  font-size: 18px;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.areas-intervencao-text li,
.nutricao-clinica-text li,
.projecto-clara-text li {
  list-style: none;
  margin-bottom: 1rem;
}

@media (min-width: 1200px) {
  .nav-wrapper {
    margin-top: 0;
  }

  .nav-wrapper a {
    font-size: 1.2rem;
    color: #000;
    text-decoration: none;
    margin-right: 1rem;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
  }
  
  header {
    padding: 3rem 5rem;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .quote-section .quote {
    font-size: 30px;
  }

  .nutricao-texto {
    font-size: 20px;
  }

  .quote-section .quote-container {
    padding: 6rem 0;
  }

  .about-nutricao-section {
    margin-top: 8rem;
  }

  .projecto-clara-section ul li {
    margin-right: 2rem;
  }

  .areas-accao {
    display: flex;
    flex-direction: row;
  }

  .nutricao-clinica-section,
  .projecto-clara-section,
  .areas-intervencao-section {
    width: 50%;
  }
}

@media (min-width: 1400px) {
  .curriculum-wrapper {
    padding: 4rem 18rem;
  }
}

#form-wrapper {
  text-align: start;
  padding: 8rem 0;
}

input,
button[type="submit"],
textarea {
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: 'Avenir';
}

input,
button[type="submit"],
textarea {
  width: 100%;
}

.error-message-container {
  border: 2px solid red;
}

.fill-form {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-objects {
  width: 100%;
}

.contact-button button:hover,
button[type="submit"] {
  cursor: pointer;
}

button[type="submit"] {
  margin-top: 2rem;
}

textarea {
  resize: none;
}

@media (min-width: 800px) {
  .fill-form {
    width: 550px;
  }
}

footer {
  padding: 2rem;
  width: 100%;
  background-color: #0000001a;
  text-align: center;
}

/* slideshow code */
.mySlides {
  display: none
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 30px 30px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 30px 0 0 30px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.1);
}

/* Caption text */
.text {
  color: #000;
  font-size: 15px;
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

@media (min-width: 900px) {
  .slideshow-section {
    margin: 10rem 0;
  }
}

